.section-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    justify-items: center;
    align-items: center;
    padding: 1em;
  }
  
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: 0.5em;
    padding: 5em 5em;
    width: 40%;
    background-color: $transparent-light;
    

    .form-field{
        padding: .6em 0;
        color: $white;
        letter-spacing: 1.2px;
    }

    input{
        text-align: center;
        margin-top: .3rem;
        border: none;
        border-radius: .4em;
        max-width: 80%;
        outline: none;

        &:focus,
        &:hover {
            border: none;
            outline: 2px solid $primary-lighten-10;
        }
    }
  }


