.btn {
  display: inline-block;
  padding: 0.6em 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.5em;
  transition: all linear 200ms;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  color: $white !important;
  font-weight: $font-bolder;
}

.btn--primary {
  background-color: $primary;
  border: 2px solid $primary;

  &:hover,
  &:focus {
    background-color: $primary-lighten-10;
    border-color: $primary-lighten-10;
    color: $white;
  }
}

.btn--secondary{
  background-color: $accent;
  border: 2px solid $accent;
  color: $white;
  font-weight: $font-bolder;
  
  &:hover,
  &:focus {
    background-color: $accent-darken-10;
    border-color: $accent-darken-10;
  
  }
}


