.btn {
  display: inline-block;
  padding: 0.6em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.5em;
  transition: all linear 200ms;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  margin-top: 2em;
}

.btn--primary {
  background: $primary;
  color: $white;
  font-weight: $font-bolder;
  border: 2px solid $primary;

  &:hover,
  &:focus {
    background: $primary-lighten-10;
    border-color: $primary-lighten-10;
    color: $white;
  }
}

.btn-secondary{
  margin-top: 0;
}