*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: $font-stack;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;

}