
$primary: #0B485C;
$secondary: #00c9b7;
$accent: #E84747;

$white: #ffffff;
$dark: #333;

$transparent-dark: rgba(0, 0, 0, 0.7);
$transparent-light: rgba(0, 0, 0, 0.5);


//Hover colors
$primary-darken: darken($primary, 15%);
$primary-lighten-10: lighten($primary, 10%);
$primary-lighten-40: lighten($primary, 40%);
$accent-lighten-10: lighten($accent, 10%);
$accent-darken-10: darken($accent, 10%);


// Shadows
$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
$box-shadow-light: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.15),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.1);
